 .messages {
   display: flex;
   flex-direction: column;
 }

 .my-attachment {
   background-color: #354154;
 }
 .my-attachment:hover {
  background-color: #365177
}

 .your-attachment {
   background-color: #3f51b5;
 }
 .your-attachment:hover{
   background-color: #556adc;
 }

 .message {
   border-radius: 20px;
   padding: 8px 15px;
   margin-top: 5px;
   margin-bottom: 5px;
   display: inline-block;
 }

 .yours {
   align-items: flex-start;
 }

 .yours .message {
   margin-right: 25%;
   background-color: #3f51b5;
   color: #fff;
   position: relative;
 }

 .yours .message.last:before {
   content: "";
   position: absolute;
   z-index: 0;
   bottom: 0;
   left: -7px;
   height: 20px;
   width: 20px;
   background: #3f51b5;
   border-bottom-right-radius: 15px;
 }

 .yours .message.last:after {
   content: "";
   position: absolute;
   z-index: 1;
   bottom: 0;
   left: -10px;
   width: 10px;
   height: 20px;
   background: #f1f5f9;
   border-bottom-right-radius: 10px;
 }

 .mine {
   align-items: flex-end;
 }

 .mine .message {
   color: white;
   margin-left: 25%;
   background: linear-gradient(to bottom, #475569 0%, #0f172a 100%);
   background-attachment: fixed;
   position: relative;
 }

 .mine .message.last:before {
   content: "";
   position: absolute;
   z-index: 0;
   bottom: 0;
   right: -8px;
   height: 20px;
   width: 20px;
   background: linear-gradient(to bottom, #475569 0%, #0f172a 100%);
   background-attachment: fixed;
   border-bottom-left-radius: 15px;
 }

 .mine .message.last:after {
   content: "";
   position: absolute;
   z-index: 1;
   bottom: 0;
   right: -10px;
   width: 10px;
   height: 20px;
   background: #f1f5f9;
   border-bottom-left-radius: 10px;
 }

 .gallery {
  max-width: 280px;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.gallery figure{
  margin: 5px !important;
  padding: 0 !important;
}

.gallery img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
